@let accounts = accounts$ | async;
<div class="flex flex-col gap-4">
  <div class="flex items-center gap-2">
    <p-button label="Додати" icon="pi pi-plus" (click)="visible_account_dialog = true"/>
    @if (accounts && accounts.length > 0) {
      <p-button [disabled]="loading" [icon]="loading ? 'pi pi-spinner pi-spin' : 'pi pi-sync'"
                label="Зібрати статистику" (click)="fetch_stats()"/>
    }
  </div>
  <p-dialog header="Додати банківський аккаунт" [modal]="true" [(visible)]="visible_account_dialog"
            [style]="{ width: '25rem' }">
    <form class="flex-col items-center gap-4 mb-4" [formGroup]="accountForm" action="" (submit)="add_account()">
      <div class="flex items-center gap-4 mb-4">
        <label for="account_kind" class="font-semibold w-24">Kind</label>
        <p-select id="account_kind" [options]="account_kinds" formControlName="account_kind"
                  class="w-full md:w-56"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="account_name" class="font-semibold w-24">Token</label>
        <input pInputText id="account_name" formControlName="account_token" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex justify-end gap-2">
        <p-button type="button" label="Cancel" severity="secondary" (click)="visible_account_dialog = false"/>
        <p-button type="submit" [disabled]="!accountForm.valid" label="Save"/>
      </div>
    </form>
  </p-dialog>

  @if (accounts && accounts.length > 0) {

    <p-tree-table [value]="accountsTree" [columns]="cols" selectionMode="checkbox" [(selectionKeys)]="selectionKeys"
                  dataKey="key" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header let-columns>
        <tr>
          @for (col of columns; track col) {
            <th [style.width]="col.width">
              {{ col.header }}
            </th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
          @for (col of columns; let first = $first; track col) {
            <td [style.width]="col.width">
              @if (first) {
                <div class="flex items-center gap-2">
                  <p-treetable-toggler [rowNode]="rowNode"/>
                  <p-treetable-checkbox [value]="rowNode"/>
                  @if (rowData['loading']) {
                    <p-progress-bar mode="indeterminate" [style]="{ width: '40px', height: '6px' }" />
                  }
                  <span [style.color]="rowData['color']"><b>{{ rowData[col.field] }}</b></span>
                </div>
              } @else {
                {{ rowData[col.field] }}
              }
            </td>
          }
        </tr>
      </ng-template>
    </p-tree-table>

  }
</div>
