<div class="flex flex-col h-full">
  <div class="card flex flex-wrap justify-center gap-4">
    @for (mcc of mcc_list; track mcc) {
      <div class="flex items-center">
        <p-checkbox [inputId]="mcc.mcc" [value]="mcc" [(ngModel)]="mss_selected" (ngModelChange)="onSelect($event)"/>
        <label [for]="mcc.mcc" class="ml-2"> {{ mcc.shortDescription.uk }} </label>
      </div>
    }
  </div>
  <div class="card"  style="height: calc(100vh - 500px);">
    <ag-charts class="flex-1 block" style="height: 100%; min-height: 400px" [options]="options"></ag-charts>
  </div>
</div>
