<div class="flex flex-col h-full gap-4">
  <app-filter [(ex)]="exceptions" (exChange)="apply_filter_changes()" ></app-filter>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Графік</p-tab>
      <p-tab value="1">Таблиця</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p-select-button [options]="chart_options" (onChange)="on_chart_select($event.value, transactions)"
                         [(ngModel)]="chart_idx"
                         optionValue="chart_idx" optionLabel="name"/>
        @if (options != undefined) {
          <ag-charts class="flex-1 block" style="height: 100%; min-height: calc(100vh - 400px)"
                     [options]="options"></ag-charts>
        }
      </p-tabpanel>
      <p-tabpanel value="1">
        @if (transactions.length > 0) {

          <p-table [value]="transactions"
                   [tableStyle]="{ 'min-width': '50rem' } "
                   [paginator]="true"
                   [showCurrentPageReport]="true"
                   currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                   [rows]="10"
                   [rowsPerPageOptions]="[10, 50, 100, 200]">
            <ng-template #header>
              <tr>
                <th>Mask</th>
                <th>Bank Acc. ID</th>
                <th>Amount</th>
                <th>Currency</th>
                <!--                <th>Currency Code</th>-->
                <th>Description</th>
                <th>T. time</th>
                <th>Receipt ID</th>
                <th>MCC</th>
                <th>MCC Description</th>
                <!--                <th>ID</th>-->
                <!--                <th>IDA</th>-->
                <th>Hold</th>
                <th>Balance</th>
              </tr>
            </ng-template>
            <ng-template #body let-transaction>
              <tr>
                <td>{{ transaction.masked_pan }}</td>
                <td>{{ transaction.external_id }}</td>
                <td>{{ transaction.amount / 100 }}</td>
                <td>{{ transaction.currency }}</td>
                <!--                <td>{{ transaction.currency_code }}</td>-->
                <td>{{ transaction.description }}</td>
                <td>{{ to_uk_date(transaction.transaction_time) }}</td>
                <td>{{ transaction.receipt_id }}</td>
                <td>{{ transaction.mcc }}</td>
                <td>{{ transaction.mcc_description }}</td>
                <!--                <td>{{ transaction.id }}</td>-->
                <!--                <td>{{ transaction.ida }}</td>-->
                <td>{{ transaction.hold }}</td>
                <td>{{ transaction.balance }}</td>
              </tr>
            </ng-template>
          </p-table>
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
